/renderers/core/target/
/renderers/pdf-renderer/target/
/core/ntexup-api/target/
/renderers/pdf-renderer/target/
/renderers/ntexup-renderer-pdf/target/
/renderers/ntexup-renderer-html/target/
/renderers/ntexup-renderer-screen/target/
/test/ntexup-api/target/
/test/ntexup-examples/target/
/core/ntexup-engine/target/
/core/ntexup-viewer/target
/core/ntexup-spi-base/target/
/extensions/ntexup-extension-plantuml/target/
/.idea/
/extensions/ntexup-extension-svg/target
/extensions/ntexup-extension-simple3d/target
/extensions/ntexup-extension-animated-gif/target
/ntexup-doc-slides/02-pages/0001-cover/output.pdf
/documentation/ntexup-doc/output.pdf
/test/ntexup-examples/src/ntexup/examples/example001/output.pdf
/output.pdf
/extensions/ntexup-extension-latex/target
/extensions/ntexup-extension-latex/.pom.xml.kate-swp
/extensions/ntexup-extension-shapes3d/target
/extensions/ntexup-extension-shapes2d/target
/app/ntexup-viewer/target
/app/ntexup-viewer-backend/target
/app/ntexup-viewer-frontend-ng/.vscode/
/app/ntexup-viewer/new-project*
/extensions/ntexup-extension-plot2d/target
/core/ntexup-controls/target/
extensions/ntexup-extension-presenters/target
/ntexup-all/target
/extensions/ntexup-extension-animated-gif/target/
/extensions/ntexup-extension-latex/target/
/extensions/ntexup-extension-plantuml/target/
/app/ntexup-viewer-backend/target/
/app/ntexup-viewer/target/
/renderers/ntexup-renderer-web/target/
/app/ntexup-full/target/
/core/ntexup-engine-full/target/

/app/ntexup/target
/tutorials/ntexup-extension-tutorial-myshape/target
/extensions/ntexup-extension-common-functions/target/
/lib/ntexup-lib-geometry2d/target/
/lib/ntexup-lib-geometry3d/target/
/.mvn/maven.config
/.mvn/settings.xml
/ntexup-full/target/
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/cmdline/options/Action.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/cmdline/options/ActionOptions.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/cmdline/options/BuildRepoActionOptions.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/cmdline/options/DumpDocumentOptions.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/cmdline/options/EditorActionOptions.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/cmdline/options/GenerateActionOptions.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/cmdline/options/ListTemplatesActionOptions.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/cmdline/options/NewActionOptions.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/cmdline/options/Options.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/cmdline/options/OutputFormat.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/cmdline/options/ShowActionOptions.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/cmdline/options/ShowFrameActionOptions.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/cmdline/options/ShowHtmlActionOptions.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/cmdline/NTexupOptionsParser.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/cmdline/NTexupOptionsProcessor$1.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/cmdline/NTexupOptionsProcessor$Info.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/cmdline/NTexupOptionsProcessor.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/config/NTxProject.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/config/NTxViewerConfig.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/config/NTxViewerConfigManager.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/config/UserConfig.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/config/UserConfigManager.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/config/UserConfigs.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/debug/JTextAreaNTxMessageList$1.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/debug/JTextAreaNTxMessageList.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/debug/NTxDebugFrame$1.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/debug/NTxDebugFrame$2.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/debug/NTxDebugFrame.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/debug/NTxDebugModel.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/debug/NTxDebugPanel.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/debug/NTxDocumentPanel.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/debug/NTxNodePanel.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/debug/NTxTsonPanel$1.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/debug/NTxTsonPanel.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/components/EntryComponent$1.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/components/EntryComponent$2.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/components/EntryComponent$3.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/components/EntryComponent$RecentProjectCellRenderer.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/components/EntryComponent.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/components/NewProjectPanel.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/components/NewProjectPropsPanel$PropInfo.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/components/NewProjectPropsPanel.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/components/NewProjectTemplatePanel.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/components/PathField.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/components/UserConfigPanel$1.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/components/UserConfigPanel.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/MainFrame$1.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/MainFrame$2.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/MainFrame$3.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/MainFrame$MyProgressItem.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/MainFrame$ProgressInfo.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/MainFrame$ProgressItem.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/MainFrame.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/NTxDocumentRendererListenerList.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/NTxServiceHelper$1.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/NTxServiceHelper$2.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/NTxServiceHelper$3.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/NTxServiceHelper$4.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/NTxServiceHelper.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/main/NTxUIHelper.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/util/NTexupUtils.class
/core/ntexup-desktop/target/classes/net/thevpc/ntexup/ntexup.ntf
/core/ntexup-desktop/target/maven-archiver/pom.properties
/core/ntexup-desktop/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/core/ntexup-desktop/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/core/ntexup-desktop/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/core/ntexup-desktop/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/core/ntexup-desktop/target/surefire-reports/net.thevpc.ntexup.test.TestEngine.txt
/core/ntexup-desktop/target/surefire-reports/TEST-net.thevpc.ntexup.test.TestEngine.xml
/core/ntexup-desktop/target/test-classes/net/thevpc/ntexup/test/TestEngine.class
/core/ntexup-desktop/target/ntexup-desktop-1.0.0.0.jar
