/renderers/core/target/
/renderers/pdf-renderer/target/
/core/ntexup-api/target/
/renderers/pdf-renderer/target/
/renderers/ntexup-renderer-pdf/target/
/renderers/ntexup-renderer-html/target/
/renderers/ntexup-renderer-screen/target/
/test/ntexup-api/target/
/test/ntexup-examples/target/
/core/ntexup-engine/target/
/core/ntexup-viewer/target
/core/ntexup-spi-base/target/
/extensions/ntexup-extension-plantuml/target/
/.idea/
/extensions/ntexup-extension-svg/target
/extensions/ntexup-extension-simple3d/target
/extensions/ntexup-extension-animated-gif/target
/ntexup-doc-slides/02-pages/0001-cover/output.pdf
/documentation/ntexup-doc/output.pdf
/test/ntexup-examples/src/ntexup/examples/example001/output.pdf
/output.pdf
/extensions/ntexup-extension-latex/target
/extensions/ntexup-extension-latex/.pom.xml.kate-swp
/extensions/ntexup-extension-shapes3d/target
/extensions/ntexup-extension-shapes2d/target
/app/ntexup-viewer/target
/app/ntexup-viewer-backend/target
/app/ntexup-viewer-frontend-ng/.vscode/
/app/ntexup-viewer/new-project*
/extensions/ntexup-extension-plot2d/target
/core/ntexup-controls/target/
extensions/ntexup-extension-presenters/target
/ntexup-all/target
/extensions/ntexup-extension-animated-gif/target/
/extensions/ntexup-extension-latex/target/
/extensions/ntexup-extension-plantuml/target/
/app/ntexup-viewer-backend/target/
/app/ntexup-viewer/target/
/renderers/ntexup-renderer-web/target/
/ntexup-full/target/

/app/ntexup/target
/tutorials/ntexup-extension-tutorial-myshape/target
/extensions/ntexup-extension-common-functions/target/
